img{
    width:100px;
    height:100px
}

#x{
    border:10px solid green;
    height:100px;
    width: 100px;
}
#y{
    border:10px solid blue;
    height: 100px;
    width: 100px;
}
ul li{width: 30px}